[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
speedml = "*"
jupyter = "*"
notebook = "*"
ocrmypdf = "*"
mtcnn = "*"
tensorflow = "*"
cmake = "*"
dlib = "*"
face-recognition = "*"
pylint = "*"
easydict = "*"
tqdm = "*"
torchvision = "*"
torch = "*"
opencv-python = "*"
Flask = "*"
PassportEye = "*"
Pillow = "*"
tensorboardX = "*"
joblib = "*"
imutils = "*"

[requires]
python_version = "3.8"
